@import url(http://fonts.googleapis.com/css?family=Oswald);
*{margin:0;padding:0}
body{
	font-family:Sans-Serif, Arial !important; 
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
}
body, html{
	height:100%;
}
img{
	max-width:100%
}
a{
	text-decoration:none
}
a:hover{
	text-decoration:underline
}
p{
	line-height: 150%;
}
.container_full {
	width: 100%;
	height: auto;
}
.container {
	width:960px; 
	margin:0 auto; 
	display:block 
}
.fix{
	overflow:hidden;
}
.aligncenter{
	display:block;
	margin:0 auto;
}
.floatleft{
	float:left
}
.floatright{
	float:right
}
/*-----------------------------------------------------*/

.header{
	background:#1F6C7E;
	height:82px;
}
.header h1{  
color: #333434;
margin-left:466px;
padding-top: 19px;
}
.header_img{
float: left;
margin-left: 398px;
margin-top: 15px;
}
/*------------------------------------------------------*/
.main{
	margin-top:5px;
}

#menu{
	padding:0;
	list-style-type:none;
	width:960px;
	background:#1F6C7E;
	min-height:40px;
	margin:0 auto;
	margin-bottom:5px;
}
#menu li{
	float:left;
	border-right:1px solid white;
	border-left:1px solid white;
	position:relative;
	
}

#menu li:last-child{
	border-right:none;
}
#menu li:first-child{
	border-left:none;
}
#menu li a{
	color:#fff;
	text-decoration:none;
background:#1F6C7E;;
	padding:10px 20px;
	display:block;
	transition:0.3s all ease;
}
#menu li a:hover{
	background:black;
}


#menu li ul{
	list-style-type:none;
	padding:0;
	position:absolute;
	left:-99999px;
	/*transition:0.5s all ease;*/
}
#menu li:hover ul{
	left:0;
}

#menu li ul li{
	float:none;
	border-right:none;
	border-left:none;
	border-top:1px solid #605B5B;
	border-bottom:1px solid #2B2A2A;	
	width:200px;
	position:relative;
}

#menu li ul li ul{
	position:absolute;
	top:-999999px;
}
#menu li ul li:hover ul{
	top:0;
	left:200px;
}
.left_content{
	float:left;
	
	background:#1F6C7E;
	width:200px;
}
.left_content h3{
	padding:14px;
}
.left_content p{
	padding-left:7px;
	border-bottom:1px solid white;
}
.left_img{
	height: 163px;
width: 179px;
margin-left: 10px;

}
.right_content{
	background: #1F6C7E;
width: 732px;
margin-left: 228px;
}
.right_content h2{
	padding-left: 21px;
	padding-top: 10px;
}

.right_content img{
	margin-left: 5px;
margin-top: 5px;
height: 304px;
width: 677px;
}
.right_content p{
	
}
.footer{
	background: #1F6C7E;
	height:50px;
	margin-top:8px;
}
.footer p{
padding-left: 366px;
padding-top: 15px;
}
.footer a{
	color:black;
}






















